# IMPORTS E LEITURA DE TABELA

In [2]:
import pandas as pd
import numpy as np

In [49]:
data = pd.read_csv('gapminder.csv')
data

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Afghanistan,,.03,.5696534,26.8,75944000,25.6000003814697,,3.65412162280064,48.673,,0,,6.68438529968262,55.7000007629394,24.04
1,Albania,1914.99655094922,7.29,1.0247361,57.4,223747333.333333,42.0999984741211,,44.9899469578783,76.918,,9,636.341383366604,7.69932985305786,51.4000015258789,46.72
2,Algeria,2231.99333515006,.69,2.306817,23.5,2932108666.66667,31.7000007629394,.1,12.5000733055148,73.131,.42009452521537,2,590.509814347428,4.8487696647644,50.5,65.22
3,Andorra,21943.3398976022,10.17,,,,,,81,,,,,5.36217880249023,,88.92
4,Angola,1381.00426770244,5.57,1.4613288,23.1,248358000,69.4000015258789,2,9.99995388324075,51.093,,-2,172.999227388199,14.5546770095825,75.6999969482422,56.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Vietnam,722.807558834445,3.91,1.0853671,16.2,1425435000,67.5999984741211,.4,27.8518215557703,75.181,,-7,302.725654656034,11.6533222198486,71,27.84
209,West Bank and Gaza,,,5.9360854,,14241333.3333333,11.3000001907349,,36.4227717919075,72.832,,,,,32,71.9
210,"Yemen, Rep.",610.3573673206,.2,2.3162346,35.1,234864666.666667,20.2999992370605,,12.3497504635596,65.493,,-2,130.05783139719,6.26578903198242,39,30.64
211,Zambia,432.226336974583,3.56,.3413352,13,132025666.666667,53.5,13.5,10.124986462443,49.025,,7,168.623030511023,12.0190362930298,61,35.42
212,Zimbabwe,320.771889948584,4.96,1.0327854,19,590219666.666666,58.0999984741211,14.3,11.5004153209768,51.384,,1,297.883200408304,13.9052667617798,66.8000030517578,37.34

# REMOÇÃO DE COLUNAS IRRELEVANTES

In [50]:
data = data.drop(columns=["polityscore", "urbanrate", "femaleemployrate", "breastcancerper100th", 'co2emissions', 'oilperperson', 'relectricperperson', 'hivrate', 'armedforcesrate', 'internetuserate'])
data

,country,incomeperperson,alcconsumption,lifeexpectancy,suicideper100th,employrate
0,Afghanistan,,.03,48.673,6.68438529968262,55.7000007629394
1,Albania,1914.99655094922,7.29,76.918,7.69932985305786,51.4000015258789
2,Algeria,2231.99333515006,.69,73.131,4.8487696647644,50.5
3,Andorra,21943.3398976022,10.17,,5.36217880249023,
4,Angola,1381.00426770244,5.57,51.093,14.5546770095825,75.6999969482422
...,...,...,...,...,...,...
208,Vietnam,722.807558834445,3.91,75.181,11.6533222198486,71
209,West Bank and Gaza,,,72.832,,32
210,"Yemen, Rep.",610.3573673206,.2,65.493,6.26578903198242,39
211,Zambia,432.226336974583,3.56,49.025,12.0190362930298,61
212,Zimbabwe,320.771889948584,4.96,51.384,13.9052667617798,66.8000030517578

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          213 non-null    object
 1   incomeperperson  213 non-null    object
 2   alcconsumption   213 non-null    object
 3   lifeexpectancy   213 non-null    object
 4   suicideper100th  213 non-null    object
 5   employrate       213 non-null    object
dtypes: object(6)
memory usage: 10.1+ KB

# CONVERSÃO PARA TIPOS ADEQUADOS DE DADOS E REMOÇÃO DAS LINHAS COM NULO (OUTLIERS)

In [56]:
data = data.convert_dtypes()
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          213 non-null    string
 1   incomeperperson  213 non-null    string
 2   alcconsumption   213 non-null    string
 3   lifeexpectancy   213 non-null    string
 4   suicideper100th  213 non-null    string
 5   employrate       213 non-null    string
dtypes: string(6)
memory usage: 10.1 KB

,country,incomeperperson,alcconsumption,lifeexpectancy,suicideper100th,employrate
0,Afghanistan,,.03,48.673,6.68438529968262,55.7000007629394
1,Albania,1914.99655094922,7.29,76.918,7.69932985305786,51.4000015258789
2,Algeria,2231.99333515006,.69,73.131,4.8487696647644,50.5
3,Andorra,21943.3398976022,10.17,,5.36217880249023,
4,Angola,1381.00426770244,5.57,51.093,14.5546770095825,75.6999969482422
...,...,...,...,...,...,...
208,Vietnam,722.807558834445,3.91,75.181,11.6533222198486,71
209,West Bank and Gaza,,,72.832,,32
210,"Yemen, Rep.",610.3573673206,.2,65.493,6.26578903198242,39
211,Zambia,432.226336974583,3.56,49.025,12.0190362930298,61
212,Zimbabwe,320.771889948584,4.96,51.384,13.9052667617798,66.8000030517578

In [72]:
data = data.replace(np.nan, '0')
data

,country,incomeperperson,alcconsumption,lifeexpectancy,suicideper100th,employrate
0,Afghanistan,0,.03,48.673,6.68438529968262,55.7000007629394
1,Albania,1914.99655094922,7.29,76.918,7.69932985305786,51.4000015258789
2,Algeria,2231.99333515006,.69,73.131,4.8487696647644,50.5
3,Andorra,21943.3398976022,10.17,0,5.36217880249023,0
4,Angola,1381.00426770244,5.57,51.093,14.5546770095825,75.6999969482422
...,...,...,...,...,...,...
208,Vietnam,722.807558834445,3.91,75.181,11.6533222198486,71
209,West Bank and Gaza,0,0,72.832,0,32
210,"Yemen, Rep.",610.3573673206,.2,65.493,6.26578903198242,39
211,Zambia,432.226336974583,3.56,49.025,12.0190362930298,61
212,Zimbabwe,320.771889948584,4.96,51.384,13.9052667617798,66.8000030517578

In [80]:
data['incomeperperson'] = round(data['incomeperperson'].astype(float), 2)
data['alcconsumption'] = round(data['alcconsumption'].astype(float), 2)
data['lifeexpectancy'] = round(data['lifeexpectancy'].astype(float), 0)
data['lifeexpectancy'] = data['lifeexpectancy'].astype(int)
data['suicideper100th'] = round(data['suicideper100th'].astype(float), 2)
data['employrate'] = round(data['employrate'].astype(float), 2)
data

,country,incomeperperson,alcconsumption,lifeexpectancy,suicideper100th,employrate
0,Afghanistan,0.00,0.03,49,6.68,55.7
1,Albania,1915.00,7.29,77,7.70,51.4
2,Algeria,2231.99,0.69,73,4.85,50.5
3,Andorra,21943.34,10.17,0,5.36,0.0
4,Angola,1381.00,5.57,51,14.55,75.7
...,...,...,...,...,...,...
208,Vietnam,722.81,3.91,75,11.65,71.0
209,West Bank and Gaza,0.00,0.00,73,0.00,32.0
210,"Yemen, Rep.",610.36,0.20,65,6.27,39.0
211,Zambia,432.23,3.56,49,12.02,61.0
212,Zimbabwe,320.77,4.96,51,13.91,66.8

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          213 non-null    string
 1   incomeperperson  213 non-null    float64
 2   alcconsumption   213 non-null    float64
 3   lifeexpectancy   213 non-null    int64
 4   suicideper100th  213 non-null    float64
 5   employrate       213 non-null    float64
dtypes: float64(4), int64(1), string(1)
memory usage: 10.1 KB

In [99]:
data = data.replace(0, np.nan)
data = data.dropna()
data

,country,incomeperperson,alcconsumption,lifeexpectancy,suicideper100th,employrate
1,Albania,1915.00,7.29,77.0,7.70,51.4
2,Algeria,2231.99,0.69,73.0,4.85,50.5
4,Angola,1381.00,5.57,51.0,14.55,75.7
6,Argentina,10749.42,9.35,76.0,7.77,58.4
7,Armenia,1326.74,13.66,74.0,3.74,40.1
...,...,...,...,...,...,...
207,Venezuela,5528.36,7.60,74.0,4.12,59.9
208,Vietnam,722.81,3.91,75.0,11.65,71.0
210,"Yemen, Rep.",610.36,0.20,65.0,6.27,39.0
211,Zambia,432.23,3.56,49.0,12.02,61.0
212,Zimbabwe,320.77,4.96,51.0,13.91,66.8

# MACHINE LEARNING